/* .Overlay {
  height: 100vh;
  width: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
} */

.Background {
  /* background-image: url(/src/img/slider/index1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  width: 100%; */
  background: url(/src/img/slider/index1.jpg) no-repeat center;
  background-size: cover;
  height: 100vh;
  position: relative;
}
