.Holder {
  position: relative;
  text-align: center;
  color: white;
  padding-bottom: 5%;
}

.ImgText {
  position: absolute;
  width: 100%;
  bottom: 20%;
  right: 0px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  /* padding-left: 20px;
  padding-right: 20px; */
}
