.Holder {
  position: relative;
  width: 100%;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
}

.Img {
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: 0.2s all ease-in-out;
}

.Overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgb(0, 121, 107, 0.8);
}

.Holder:hover .Overlay {
  opacity: 1;
  cursor: pointer;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.Holder:hover .LayerText {
  display: none;
  visibility: hidden;
  display: inline-block;
  opacity: 0;
  transition: opacity 0.3s linear;
  -webkit-transform: opacity 0.3s linear;
  -ms-transform: opacity 0.3s linear;
  -o-transform: opacity 0.3s linear;
  transform: opacity 0.3s linear;
}

.Holder:hover .Img {
  -webkit-transform: scale3d(1.1, 1.1, 1);
  -ms-transform: scale3d(1.1, 1.1, 1);
  -o-transform: scale3d(1.1, 1.1, 1);
  transform: scale3d(1.1, 1.1, 1);
}

.OverlayText {
  color: white;
  font-size: 1.3rem;
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.LayerText {
  color: white;
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* text-align: center; */
}

@media (min-width: 980px) and (max-width: 1200px) {
  .OverlayText,
  .LayerText {
    font-size: 1rem;
    top: 40%;
  }
}

@media (min-width: 1200px) and (max-width: 1400px) {
  .OverlayText,
  .LayerText {
    font-size: 1rem;
    top: 45%;
  }
}
