.App {
  text-align: center;
  font-family: "Roboto";
}

p {
  text-align: justify;
}

.lead {
  font-weight: 100;
  font-size: 20px;
}

/* .holder {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}

.holder img {
  vertical-align: middle;
}

.holder #navigation {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0); 
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
} */

nav.main-nav {
  background: rgba(0, 0, 0, 0);
  border-bottom: none;
  box-shadow: none;
}

ul#mobile-demo li a {
  color: #26a69a;
  position: relative;
}
ul#mobile-demo li a:hover {
  color: #e0f2f1;
}

ul#mobile-demo li a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

ul#mobile-demo li a:hover:before {
  visibility: visible;
  transform: scaleX(0.3);
}

iframe {
  height: 50rem;
  width: 100%;
  background-color: #c6c7af;
}

.input-field input[type="text"],
.input-field textarea {
  border-bottom: 1px solid #b2dfdb !important;
}

.input-field input[type="text"]:focus + label {
  color: #e0f2f1 !important;
}

.input-field input:focus,
.input-field textarea:focus {
  border-bottom: 1px solid #e0f2f1 !important;
  box-shadow: 0 1px 1px 0 #e0f2f1 !important;
}

.input-field input[type="text"].invalid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}

.input-field .prefix.active {
  color: #000;
}
form a.btn {
  color: #b2dfdb;
  border: 2px solid #b2dfdb;
  box-shadow: none !important;
  transition: 0.7s;
}

form a.btn:hover {
  background-color: #e0f2f1 !important;
  color: #009688 !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* Technologies */
.tabs .tab a {
  color: #009688 !important;
  font-weight: 900;
  font-size: 25px !important;
} /*Black color to the text*/

.tabs .tab a:hover {
  background-color: transparent !important;
  color: #80cbc4 !important;
} /*Text color on hover*/

.tabs .tab a.active {
  background-color: transparent !important;
  color: #fff !important;
} /*Background and text color when a tab is active*/

.tabs .indicator {
  background-color: #009688 !important;
} /*Color of underline*/

/* .scrollTop {
  position: fixed;
  width: 100%;
  bottom: 10px;
  right: -40%;
  align-items: center;
  height: 20px;
  justify-content: center;
  z-index: 1000;
  cursor: pointer;
  animation: fadeIn 0.3s;
  transition: opacity 0.4s;
  opacity: 0.5;
}

.scrollTop:hover {
  opacity: 1;
}

.list-group-item {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  color: #fff;
  margin-bottom: -10px;
} */

/* @keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media (max-width: 470px) {
  .display-4 {
    font-size: 10px;
    color: blue;
  }

  .tabs .tab a {
    font-size: 15px !important;
  }
  h5.tech-title {
    font-size: 14px !important;
  }
  img.tech-img {
    width: 90px !important;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#technologies {
  padding: 50px 0;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
